h1{
    color: rgb(0, 255, 76);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    }

    body{
        background-color: bisque;
        }
p{

color: blue;
font-size: medium;

}
        
h2{color: blueviolet;}

        