*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

nav{
    background-color: red;
    color: white;
    height: 10vh;
    font-size: 30px;
}
div{
    display: none;
    
}
}
.h21{
    background-color: yellow;
    height: 30vh;
}
.h22{
    background-color: orange;
    height: 30vh;
}
.h23{
    background-color: green;
    height: 30vh;
}
@media screen and (max-width: 768px){
   nav{
    background-color: pink;
   }
    .h21{
        background-color: rgb(247, 79, 135);
    }
}
.h22{
    background-color: rgb(113, 113, 237);
}
.h23{
    background-color: blue;
    color: white;
}

@media screen and (max-width: 576px){
    nav{
background-color: rgb(114, 114, 255);
    }
    div{
        display: block;
    }
}
.h21{
    background-color: rgb(3, 199, 199);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.h22{
    background-color: rgb(162, 62, 255);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.h23{
    background-color: rgb(26, 23, 23);
    justify-content: center;
    align-items: center;
    text-align: center;
}