* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 200vh;
}


h1 {
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    color: teal;
    font-weight: bold;
}

p {
    color:black;
}

a {
    color: #8a2be2;
    text-decoration: none;
}

.paragraaf {
    font-weight: bold;
}



header {
    background-image:url("./img/Geometric.png");
    background-size: cover;
    background-position: center;
    padding: 0%;
    text-align: center;
    color: white;
    font-size: 30px;
    height: 33vh;

}

img{
 width: 50vw;   
}

article {
    
    border: solid 2px blue;
    border-radius: 5px;
    border-left: solid blue 10px
  }


  